/* Start CSS reset   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*  CSS Variable */

body,
html {
    width: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {}

ul li {
    list-style: none;
    display: inline-block;
}


/* utility classes */

.ul-styling li {
    display: block;
}

.BG-transparent {
    background-color: transparent !important;
}


/* Fluid Type Scale */

--font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

/* Google Font */


/*
font-family: 'Alkatra',
cursive;
font-family: 'Bebas Neue',
cursive;
font-family: 'Changa One',
cursive;
font-family: 'Dancing Script',
cursive;
font-family: 'Delicious Handrawn',
cursive;
font-family: 'Edu NSW ACT Foundation',
cursive;
font-family: 'Fasthand',
cursive;
font-family: 'Lato',
sans-serif;
font-family: 'Lora',
serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Open Sans',
sans-serif;
font-family: 'Pacifico',
cursive;
font-family: 'Poppins',
sans-serif;
font-family: 'Roboto Condensed',
sans-serif;
*/


/* Start Header Section */

#header-section {
    position: relative;
    background-color: #FF6000;
    color: #fff;
}

.right-navbar {
    position: absolute;
    right: 0;
}

.menubar {
    margin: 0;
    padding: 0;
}

.menubar li a {
    color: #fff;
    padding: 15px 10px;
    display: block;
    font-weight: 600;
}

.menubar li a:hover {
    background-color: #E7B10A;
    text-decoration: underline;
}

.menubar li a i {
    color: #FFA559;
}

.logo-title {
    font-size: 1.5rem;
    margin: 12px 0;
}

.logo-title span {
    color: #FCE22A;
    font-family: 'Alkatra', cursive;
}


/* End Header Section */


/* Start Welcome Section */

#welcome-section {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    /* background-size: cover;*/
    opacity: 0.5;
    padding: 7% 0;
    box-sizing: border-box;
    max-width: 100%;
    height: 80vh;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.welcome-sec {
    position: relative;
    height: 400px;
}

.welcome-content {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 0;
}

.welcome-content h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 50px;
    display: inline-block;
}

.welcome-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    margin: 15px 0;
}


/* End Welcome Section */


/* Start Services Section */

.services-row {
    margin: 80px 0;
}

.row-content {
    text-align: center;
}

.row-content h4 {
    color: #FF6000;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    margin-bottom: 15px;
}

.row-content h1 {
    color: #FFA559;
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 900;
}

.services-card {
    width: 350px;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.services-card img {
    width: 100px;
    height: 100px;
    margin: 0 100px;
}

.card-body {
    margin-top: 25px;
}

.card-title {
    margin-bottom: 30px;
    line-height: 1.5;
}

.card-text {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}


/* End Services Section */


/* Start work model Section */

#work-model-section {
    background-image: url(../img/background/4907157.jpg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    /* background-size: cover;*/
    opacity: 0.5;
    padding: 7% 5%;
    box-sizing: border-box;
    max-width: 100%;
    /*height: 120vh;*/
    text-align: center;
    justify-content: center;
    align-self: center;
}

.top-WM {
    text-align: center;
    margin-bottom: 50px;
}

.top-WM h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.top-WM p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}


/* End work model Section */


/* Start testimonials Section */

#testimonials-section {
    /* position: relative;*/
    text-align: center;
    height: 130vh;
    padding: 50px;
}

.testimonial-content-sec {
    margin-top: 50px;
}

.testimonials-card {
    border: none;
}

.testimonials-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card-text {
    font-size: 14.4px;
    margin: 0 60px;
}

.testimonials-carousel-btn span {
    border: 1px solid #fff;
    background-color: black;
}

.carousel-inner {
    overflow: visible;
}


/* End testimonials Section */


/* Start About Us Section */

#aboutus-section {
    background-color: #332C39;
    height: 60vh;
    padding: 50px;
}

.about-title h1 {
    color: #FCE22A;
    font-family: 'Alkatra', cursive;
    margin-bottom: 40px;
}

.about-title h1 span {
    color: #fff;
    line-height: 1.5;
}

.about-title p {
    color: #fff;
}

.about-menubar {
    color: #fff;
}

.about-menubar h1 {
    margin-bottom: 40px;
    text-align: center;
}

.about-ul {
    margin: 0 40px;
}

.about-ul li {
    margin: 15px 0;
}

.about-ul li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

.about-ul li i {
    padding-right: 1rem;
}

.contact-bar {
    color: #fff;
}

.contact-bar h1 {
    margin-bottom: 40px;
    text-align: center;
}


/* End About Us Section */


/* Start Footer Section */

#footer-section {
    background-color: #820000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

#footer-section p {
    margin-bottom: 0;
}


/* End Footer Section */